body{
    font-family: Arial,  sans-serif;
}


header{
    text-align: center;
    padding: 10px;
    background-color: rgb(59, 43, 20);

    
}
header img{
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin-bottom: 10px;
}
header h1{
    color: rgb(157, 251, 16);
}
 header h2{
    color:aquamarine;
 }

section{
    margin: 20px;
}
.project {
    width: 200px; /* Square dimensions */
    height: 200px;
    border: 3px solid #ccc;
    border-radius: 30px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height:200px ;
    
    
   
}

 h2 {
    color: rgb(157, 251, 16);
}

#bio, #work {
    background-color:rgb(59, 43, 20);
    padding: 15px;
    color:aquamarine ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#work a{
    color:aquamarine ;
}
footer {
    background-color: rgb(59, 43, 20);
    padding: 10px;
    color: rgb(157, 251, 16) ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.icon{
    display: inline-block;
    color: aquamarine;
}

